<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.envvar.EnvVariableMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_ENV_VARIABLE ORDER by ENV_VAR_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_ENV_VARIABLE ORDER by ENV_VAR_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TBUILD_ENV_VARIABLE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(ENV_VAR_ORDER_NUM) is null then 1 else max(ENV_VAR_ORDER_NUM)+1 end ORDERNUM from TBUILD_ENV_VARIABLE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_ENV_VARIABLE<where>
        <if test="envVarValue !=null and envVarValue !=''"> and ENV_VAR_VALUE like #{envVarValue} </if>
        <if test="envVarText !=null and envVarText !=''"> and ENV_VAR_TEXT like #{envVarText} </if>
        <if test="envVarClassName !=null and envVarClassName !=''"> and ENV_VAR_CLASS_NAME like #{envVarClassName} </if>
        <if test="envVarClassPara !=null and envVarClassPara !=''"> and ENV_VAR_CLASS_PARA like #{envVarClassPara} </if>
        <if test="envVarRest !=null and envVarRest !=''"> and ENV_VAR_REST like #{envVarRest} </if>
        <if test="envVarRestPara !=null and envVarRestPara !=''"> and ENV_VAR_REST_PARA like #{envVarRestPara} </if>
        <if test="envVarGroupId !=null and envVarGroupId !=''"> and ENV_VAR_GROUP_ID like #{envVarGroupId} </if>
        <if test="envVarIsSystem !=null and envVarIsSystem !=''"> and ENV_VAR_IS_SYSTEM like #{envVarIsSystem} </if>
        <if test="envVarDelEnable !=null and envVarDelEnable !=''"> and ENV_VAR_DEL_ENABLE like #{envVarDelEnable} </if>
        <if test="envVarStatus !=null and envVarStatus !=''"> and ENV_VAR_STATUS like #{envVarStatus} </if>
        <if test="envVarDesc !=null and envVarDesc !=''"> and ENV_VAR_DESC like #{envVarDesc} </if>
        <if test="envVarExAttr1 !=null and envVarExAttr1 !=''"> and ENV_VAR_EX_ATTR1 like #{envVarExAttr1} </if>
        <if test="envVarExAttr2 !=null and envVarExAttr2 !=''"> and ENV_VAR_EX_ATTR2 like #{envVarExAttr2} </if>
        <if test="envVarExAttr3 !=null and envVarExAttr3 !=''"> and ENV_VAR_EX_ATTR3 like #{envVarExAttr3} </if>
        <if test="envVarExAttr4 !=null and envVarExAttr4 !=''"> and ENV_VAR_EX_ATTR4 like #{envVarExAttr4} </if>
        <if test="envVarUserId !=null and envVarUserId !=''"> and ENV_VAR_USER_ID like #{envVarUserId} </if>
        <if test="envVarUserName !=null and envVarUserName !=''"> and ENV_VAR_USER_NAME like #{envVarUserName} </if>
        <if test="envVarOrganId !=null and envVarOrganId !=''"> and ENV_VAR_ORGAN_ID like #{envVarOrganId} </if>
        <if test="envVarOrganName !=null and envVarOrganName !=''"> and ENV_VAR_ORGAN_NAME like #{envVarOrganName} </if>
    </where>ORDER by ENV_VAR_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_ENV_VARIABLE
 where ENV_VAR_ORDER_NUM = (select max(ENV_VAR_ORDER_NUM) from TBUILD_ENV_VARIABLE where ENV_VAR_ORDER_NUM<(select ENV_VAR_ORDER_NUM from TBUILD_ENV_VARIABLE where ENV_VAR_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_ENV_VARIABLE
 where ENV_VAR_ORDER_NUM = (select min(ENV_VAR_ORDER_NUM) from TBUILD_ENV_VARIABLE where ENV_VAR_ORDER_NUM>(select ENV_VAR_ORDER_NUM from TBUILD_ENV_VARIABLE where ENV_VAR_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectByValue" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TBUILD_ENV_VARIABLE where ENV_VAR_VALUE=#{envVarValue}
    </select>
    <select id="selectByText" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TBUILD_ENV_VARIABLE where ENV_VAR_TEXT=#{envVarText}
    </select>
</mapper>
