##############################
## Folders                  ##
##############################
target
out
log
t3plibs
node_modules
GenerateCodeFiles/
!GenerateCodeFiles/GenerateCodeFiles.txt
jb4dc-workflow-web-package/src/main/jb4dc-workflow-modeler/Modeler/dist

##############################
## Files                    ##
##############################
DB.properties
db.properties
db.yml
db1.yml
~$列表数据逻辑.mmap.~$lock
*.~vsdx