<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.workflow.dao.ExecutionTaskOpinionMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.workflow.dbentities.ExecutionTaskOpinionEntity">
        <constructor>
            <idArg column="OPINION_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_EXTASK_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="OPINION_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="OPINION_CLIENT_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="OPINION_SIGNATURE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        OPINION_ID, OPINION_EXTASK_ID, OPINION_TEXT, OPINION_TIME, OPINION_ORDER_NUM, OPINION_CLIENT_CODE,
        OPINION_USER_ID, OPINION_USER_NAME, OPINION_SIGNATURE_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TFLOW_EXECUTION_TASK_OPINION
        where OPINION_ID = #{opinionId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TFLOW_EXECUTION_TASK_OPINION
        where OPINION_ID = #{opinionId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jb4dc.workflow.dbentities.ExecutionTaskOpinionEntity">
        insert into TFLOW_EXECUTION_TASK_OPINION (OPINION_ID, OPINION_EXTASK_ID, OPINION_TEXT,
        OPINION_TIME, OPINION_ORDER_NUM, OPINION_CLIENT_CODE,
        OPINION_USER_ID, OPINION_USER_NAME, OPINION_SIGNATURE_ID
        )
        values (#{opinionId,jdbcType=VARCHAR}, #{opinionExtaskId,jdbcType=VARCHAR}, #{opinionText,jdbcType=VARCHAR},
        #{opinionTime,jdbcType=TIMESTAMP}, #{opinionOrderNum,jdbcType=INTEGER}, #{opinionClientCode,jdbcType=VARCHAR},
        #{opinionUserId,jdbcType=VARCHAR}, #{opinionUserName,jdbcType=VARCHAR}, #{opinionSignatureId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.workflow.dbentities.ExecutionTaskOpinionEntity">
        insert into TFLOW_EXECUTION_TASK_OPINION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opinionId != null">
                OPINION_ID,
            </if>
            <if test="opinionExtaskId != null">
                OPINION_EXTASK_ID,
            </if>
            <if test="opinionText != null">
                OPINION_TEXT,
            </if>
            <if test="opinionTime != null">
                OPINION_TIME,
            </if>
            <if test="opinionOrderNum != null">
                OPINION_ORDER_NUM,
            </if>
            <if test="opinionClientCode != null">
                OPINION_CLIENT_CODE,
            </if>
            <if test="opinionUserId != null">
                OPINION_USER_ID,
            </if>
            <if test="opinionUserName != null">
                OPINION_USER_NAME,
            </if>
            <if test="opinionSignatureId != null">
                OPINION_SIGNATURE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opinionId != null">
                #{opinionId,jdbcType=VARCHAR},
            </if>
            <if test="opinionExtaskId != null">
                #{opinionExtaskId,jdbcType=VARCHAR},
            </if>
            <if test="opinionText != null">
                #{opinionText,jdbcType=VARCHAR},
            </if>
            <if test="opinionTime != null">
                #{opinionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opinionOrderNum != null">
                #{opinionOrderNum,jdbcType=INTEGER},
            </if>
            <if test="opinionClientCode != null">
                #{opinionClientCode,jdbcType=VARCHAR},
            </if>
            <if test="opinionUserId != null">
                #{opinionUserId,jdbcType=VARCHAR},
            </if>
            <if test="opinionUserName != null">
                #{opinionUserName,jdbcType=VARCHAR},
            </if>
            <if test="opinionSignatureId != null">
                #{opinionSignatureId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.workflow.dbentities.ExecutionTaskOpinionEntity">
        update TFLOW_EXECUTION_TASK_OPINION
        <set>
            <if test="opinionExtaskId != null">
                OPINION_EXTASK_ID = #{opinionExtaskId,jdbcType=VARCHAR},
            </if>
            <if test="opinionText != null">
                OPINION_TEXT = #{opinionText,jdbcType=VARCHAR},
            </if>
            <if test="opinionTime != null">
                OPINION_TIME = #{opinionTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opinionOrderNum != null">
                OPINION_ORDER_NUM = #{opinionOrderNum,jdbcType=INTEGER},
            </if>
            <if test="opinionClientCode != null">
                OPINION_CLIENT_CODE = #{opinionClientCode,jdbcType=VARCHAR},
            </if>
            <if test="opinionUserId != null">
                OPINION_USER_ID = #{opinionUserId,jdbcType=VARCHAR},
            </if>
            <if test="opinionUserName != null">
                OPINION_USER_NAME = #{opinionUserName,jdbcType=VARCHAR},
            </if>
            <if test="opinionSignatureId != null">
                OPINION_SIGNATURE_ID = #{opinionSignatureId,jdbcType=VARCHAR},
            </if>
        </set>
        where OPINION_ID = #{opinionId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.workflow.dbentities.ExecutionTaskOpinionEntity">
        update TFLOW_EXECUTION_TASK_OPINION
        set OPINION_EXTASK_ID = #{opinionExtaskId,jdbcType=VARCHAR},
        OPINION_TEXT = #{opinionText,jdbcType=VARCHAR},
        OPINION_TIME = #{opinionTime,jdbcType=TIMESTAMP},
        OPINION_ORDER_NUM = #{opinionOrderNum,jdbcType=INTEGER},
        OPINION_CLIENT_CODE = #{opinionClientCode,jdbcType=VARCHAR},
        OPINION_USER_ID = #{opinionUserId,jdbcType=VARCHAR},
        OPINION_USER_NAME = #{opinionUserName,jdbcType=VARCHAR},
        OPINION_SIGNATURE_ID = #{opinionSignatureId,jdbcType=VARCHAR}
        where OPINION_ID = #{opinionId,jdbcType=VARCHAR}
    </update>
</mapper>