<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.flow.FlowIntegratedMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_FLOW_INTEGRATED ORDER by INTEGRATED_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_FLOW_INTEGRATED ORDER by INTEGRATED_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TBUILD_FLOW_INTEGRATED</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(INTEGRATED_ORDER_NUM) is null then 1 else max(INTEGRATED_ORDER_NUM)+1 end ORDERNUM from TBUILD_FLOW_INTEGRATED</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_FLOW_INTEGRATED<where>
        <if test="integratedDeId !=null and integratedDeId !=''"> and INTEGRATED_DE_ID like #{integratedDeId} </if>
        <if test="integratedDeMessage !=null and integratedDeMessage !=''"> and INTEGRATED_DE_MESSAGE like #{integratedDeMessage} </if>
        <if test="integratedDeSuccess !=null and integratedDeSuccess !=''"> and INTEGRATED_DE_SUCCESS like #{integratedDeSuccess} </if>
        <if test="integratedModuleId !=null and integratedModuleId !=''"> and INTEGRATED_MODULE_ID like #{integratedModuleId} </if>
        <if test="integratedCode !=null and integratedCode !=''"> and INTEGRATED_CODE like #{integratedCode} </if>
        <if test="integratedName !=null and integratedName !=''"> and INTEGRATED_NAME like #{integratedName} </if>
        <if test="integratedCreator !=null and integratedCreator !=''"> and INTEGRATED_CREATOR like #{integratedCreator} </if>
        <if test="integratedUpdater !=null and integratedUpdater !=''"> and INTEGRATED_UPDATER like #{integratedUpdater} </if>
        <if test="integratedDesc !=null and integratedDesc !=''"> and INTEGRATED_DESC like #{integratedDesc} </if>
        <if test="integratedStatus !=null and integratedStatus !=''"> and INTEGRATED_STATUS like #{integratedStatus} </if>
        <if test="integratedDeploymentId !=null and integratedDeploymentId !=''"> and INTEGRATED_DEPLOYMENT_ID like #{integratedDeploymentId} </if>
        <if test="integratedStartKey !=null and integratedStartKey !=''"> and INTEGRATED_START_KEY like #{integratedStartKey} </if>
        <if test="integratedResourceName !=null and integratedResourceName !=''"> and INTEGRATED_RESOURCE_NAME like #{integratedResourceName} </if>
        <if test="integratedFromType !=null and integratedFromType !=''"> and INTEGRATED_FROM_TYPE like #{integratedFromType} </if>
    </where>ORDER by INTEGRATED_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_FLOW_INTEGRATED
 where INTEGRATED_ORDER_NUM = (select max(INTEGRATED_ORDER_NUM) from TBUILD_FLOW_INTEGRATED where INTEGRATED_ORDER_NUM<(select INTEGRATED_ORDER_NUM from TBUILD_FLOW_INTEGRATED where INTEGRATED_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_FLOW_INTEGRATED
 where INTEGRATED_ORDER_NUM = (select min(INTEGRATED_ORDER_NUM) from TBUILD_FLOW_INTEGRATED where INTEGRATED_ORDER_NUM>(select INTEGRATED_ORDER_NUM from TBUILD_FLOW_INTEGRATED where INTEGRATED_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectByStartKey" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TBUILD_FLOW_INTEGRATED where INTEGRATED_START_KEY=#{integratedStartKey}
    </select>
    <select id="selectByCode" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TBUILD_FLOW_INTEGRATED where INTEGRATED_CODE=#{integratedCode}
    </select>
</mapper>
