<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.workflow.dao.ModelGroupMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TFLOW_MODEL_GROUP ORDER by MODEL_GROUP_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TFLOW_MODEL_GROUP ORDER by MODEL_GROUP_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TFLOW_MODEL_GROUP</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(MODEL_GROUP_ORDER_NUM) is null then 1 else max(MODEL_GROUP_ORDER_NUM)+1 end ORDERNUM from TFLOW_MODEL_GROUP</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TFLOW_MODEL_GROUP<where>
        <if test="modelGroupValue !=null and modelGroupValue !=''"> and MODEL_GROUP_VALUE like #{modelGroupValue} </if>
        <if test="modelGroupText !=null and modelGroupText !=''"> and MODEL_GROUP_TEXT like #{modelGroupText} </if>
        <if test="modelGroupDesc !=null and modelGroupDesc !=''"> and MODEL_GROUP_DESC like #{modelGroupDesc} </if>
        <if test="modelGroupStatus !=null and modelGroupStatus !=''"> and MODEL_GROUP_STATUS like #{modelGroupStatus} </if>
        <if test="modelGroupParentId !=null and modelGroupParentId !=''"> and MODEL_GROUP_PARENT_ID like #{modelGroupParentId} </if>
        <if test="modelGroupIsSystem !=null and modelGroupIsSystem !=''"> and MODEL_GROUP_IS_SYSTEM like #{modelGroupIsSystem} </if>
        <if test="modelGroupDelEnable !=null and modelGroupDelEnable !=''"> and MODEL_GROUP_DEL_ENABLE like #{modelGroupDelEnable} </if>
        <if test="modelGroupClassName !=null and modelGroupClassName !=''"> and MODEL_GROUP_CLASS_NAME like #{modelGroupClassName} </if>
    </where>ORDER by MODEL_GROUP_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TFLOW_MODEL_GROUP
                                                                                                          where MODEL_GROUP_ORDER_NUM = (select max(MODEL_GROUP_ORDER_NUM) from TFLOW_MODEL_GROUP where MODEL_GROUP_ORDER_NUM<(select MODEL_GROUP_ORDER_NUM from TFLOW_MODEL_GROUP where MODEL_GROUP_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TFLOW_MODEL_GROUP
                                                                                                             where MODEL_GROUP_ORDER_NUM = (select min(MODEL_GROUP_ORDER_NUM) from TFLOW_MODEL_GROUP where MODEL_GROUP_ORDER_NUM>(select MODEL_GROUP_ORDER_NUM from TFLOW_MODEL_GROUP where MODEL_GROUP_ID=#{Id,jdbcType=NVARCHAR}))]]></select>

    <select id="selectByIdList" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/> from TFLOW_MODEL_GROUP where
        MODEL_GROUP_ID in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach> order by MODEL_GROUP_ORDER_NUM asc
    </select>
</mapper>
