<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.workflow.dao.ModelIntegratedMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        <constructor>
            <idArg column="MODEL_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_ED" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_SUCCESS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_KEY" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_MODULE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_FLOW_CATEGORY" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_IMAGE_CLASS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_TITLE_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_TITLE_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_DESC_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_DESC_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_RESTART_ENB" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_ANY_JUMP_ENB" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_CREATOR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MODEL_DEPLOYMENT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RESOURCE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_FROM_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_SAVE_VERSION" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MODEL_LAST_VERSION" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        <constructor>
            <idArg column="MODEL_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_ED" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_SUCCESS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RE_KEY" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_MODULE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_FLOW_CATEGORY" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_IMAGE_CLASS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_TITLE_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_TITLE_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_DESC_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_DESC_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_RESTART_ENB" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_PES_ANY_JUMP_ENB" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_CREATOR" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MODEL_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MODEL_DEPLOYMENT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_RESOURCE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_FROM_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_SAVE_VERSION" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MODEL_LAST_VERSION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MODEL_CONTENT" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        MODEL_ID, MODEL_RE_ED, MODEL_RE_ID, MODEL_RE_SUCCESS, MODEL_RE_KEY, MODEL_MODULE_ID,
    MODEL_CODE, MODEL_FLOW_CATEGORY, MODEL_IMAGE_CLASS, MODEL_PES_TITLE_TEXT, MODEL_PES_TITLE_VALUE,
    MODEL_PES_DESC_TEXT, MODEL_PES_DESC_VALUE, MODEL_PES_RESTART_ENB, MODEL_PES_ANY_JUMP_ENB,
    MODEL_NAME, MODEL_CREATE_TIME, MODEL_CREATOR, MODEL_UPDATE_TIME, MODEL_UPDATER, MODEL_DESC,
    MODEL_STATUS, MODEL_ORDER_NUM, MODEL_DEPLOYMENT_ID, MODEL_RESOURCE_NAME, MODEL_FROM_TYPE,
    MODEL_SAVE_VERSION, MODEL_LAST_VERSION
    </sql>
    <sql id="Blob_Column_List">
        MODEL_CONTENT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from TFLOW_MODEL_INTEGRATED
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from TFLOW_MODEL_INTEGRATED
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        insert into TFLOW_MODEL_INTEGRATED (MODEL_ID, MODEL_RE_ED, MODEL_RE_ID,
                                            MODEL_RE_SUCCESS, MODEL_RE_KEY, MODEL_MODULE_ID,
                                            MODEL_CODE, MODEL_FLOW_CATEGORY, MODEL_IMAGE_CLASS,
                                            MODEL_PES_TITLE_TEXT, MODEL_PES_TITLE_VALUE,
                                            MODEL_PES_DESC_TEXT, MODEL_PES_DESC_VALUE, MODEL_PES_RESTART_ENB,
                                            MODEL_PES_ANY_JUMP_ENB, MODEL_NAME, MODEL_CREATE_TIME,
                                            MODEL_CREATOR, MODEL_UPDATE_TIME, MODEL_UPDATER,
                                            MODEL_DESC, MODEL_STATUS, MODEL_ORDER_NUM,
                                            MODEL_DEPLOYMENT_ID, MODEL_RESOURCE_NAME, MODEL_FROM_TYPE,
                                            MODEL_SAVE_VERSION, MODEL_LAST_VERSION, MODEL_CONTENT
                )
        values (#{modelId,jdbcType=VARCHAR}, #{modelReEd,jdbcType=VARCHAR}, #{modelReId,jdbcType=VARCHAR},
                #{modelReSuccess,jdbcType=VARCHAR}, #{modelReKey,jdbcType=VARCHAR}, #{modelModuleId,jdbcType=VARCHAR},
                #{modelCode,jdbcType=VARCHAR}, #{modelFlowCategory,jdbcType=VARCHAR}, #{modelImageClass,jdbcType=VARCHAR},
                #{modelPesTitleText,jdbcType=VARCHAR}, #{modelPesTitleValue,jdbcType=VARCHAR},
                #{modelPesDescText,jdbcType=VARCHAR}, #{modelPesDescValue,jdbcType=VARCHAR}, #{modelPesRestartEnb,jdbcType=VARCHAR},
                #{modelPesAnyJumpEnb,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{modelCreateTime,jdbcType=TIMESTAMP},
                #{modelCreator,jdbcType=VARCHAR}, #{modelUpdateTime,jdbcType=TIMESTAMP}, #{modelUpdater,jdbcType=VARCHAR},
                #{modelDesc,jdbcType=VARCHAR}, #{modelStatus,jdbcType=VARCHAR}, #{modelOrderNum,jdbcType=INTEGER},
                #{modelDeploymentId,jdbcType=VARCHAR}, #{modelResourceName,jdbcType=VARCHAR}, #{modelFromType,jdbcType=VARCHAR},
                #{modelSaveVersion,jdbcType=INTEGER}, #{modelLastVersion,jdbcType=VARCHAR}, #{modelContent,jdbcType=LONGVARCHAR}
                       )
    </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        insert into TFLOW_MODEL_INTEGRATED
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelId != null">
                MODEL_ID,
            </if>
            <if test="modelReEd != null">
                MODEL_RE_ED,
            </if>
            <if test="modelReId != null">
                MODEL_RE_ID,
            </if>
            <if test="modelReSuccess != null">
                MODEL_RE_SUCCESS,
            </if>
            <if test="modelReKey != null">
                MODEL_RE_KEY,
            </if>
            <if test="modelModuleId != null">
                MODEL_MODULE_ID,
            </if>
            <if test="modelCode != null">
                MODEL_CODE,
            </if>
            <if test="modelFlowCategory != null">
                MODEL_FLOW_CATEGORY,
            </if>
            <if test="modelImageClass != null">
                MODEL_IMAGE_CLASS,
            </if>
            <if test="modelPesTitleText != null">
                MODEL_PES_TITLE_TEXT,
            </if>
            <if test="modelPesTitleValue != null">
                MODEL_PES_TITLE_VALUE,
            </if>
            <if test="modelPesDescText != null">
                MODEL_PES_DESC_TEXT,
            </if>
            <if test="modelPesDescValue != null">
                MODEL_PES_DESC_VALUE,
            </if>
            <if test="modelPesRestartEnb != null">
                MODEL_PES_RESTART_ENB,
            </if>
            <if test="modelPesAnyJumpEnb != null">
                MODEL_PES_ANY_JUMP_ENB,
            </if>
            <if test="modelName != null">
                MODEL_NAME,
            </if>
            <if test="modelCreateTime != null">
                MODEL_CREATE_TIME,
            </if>
            <if test="modelCreator != null">
                MODEL_CREATOR,
            </if>
            <if test="modelUpdateTime != null">
                MODEL_UPDATE_TIME,
            </if>
            <if test="modelUpdater != null">
                MODEL_UPDATER,
            </if>
            <if test="modelDesc != null">
                MODEL_DESC,
            </if>
            <if test="modelStatus != null">
                MODEL_STATUS,
            </if>
            <if test="modelOrderNum != null">
                MODEL_ORDER_NUM,
            </if>
            <if test="modelDeploymentId != null">
                MODEL_DEPLOYMENT_ID,
            </if>
            <if test="modelResourceName != null">
                MODEL_RESOURCE_NAME,
            </if>
            <if test="modelFromType != null">
                MODEL_FROM_TYPE,
            </if>
            <if test="modelSaveVersion != null">
                MODEL_SAVE_VERSION,
            </if>
            <if test="modelLastVersion != null">
                MODEL_LAST_VERSION,
            </if>
            <if test="modelContent != null">
                MODEL_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelId != null">
                #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="modelReEd != null">
                #{modelReEd,jdbcType=VARCHAR},
            </if>
            <if test="modelReId != null">
                #{modelReId,jdbcType=VARCHAR},
            </if>
            <if test="modelReSuccess != null">
                #{modelReSuccess,jdbcType=VARCHAR},
            </if>
            <if test="modelReKey != null">
                #{modelReKey,jdbcType=VARCHAR},
            </if>
            <if test="modelModuleId != null">
                #{modelModuleId,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="modelFlowCategory != null">
                #{modelFlowCategory,jdbcType=VARCHAR},
            </if>
            <if test="modelImageClass != null">
                #{modelImageClass,jdbcType=VARCHAR},
            </if>
            <if test="modelPesTitleText != null">
                #{modelPesTitleText,jdbcType=VARCHAR},
            </if>
            <if test="modelPesTitleValue != null">
                #{modelPesTitleValue,jdbcType=VARCHAR},
            </if>
            <if test="modelPesDescText != null">
                #{modelPesDescText,jdbcType=VARCHAR},
            </if>
            <if test="modelPesDescValue != null">
                #{modelPesDescValue,jdbcType=VARCHAR},
            </if>
            <if test="modelPesRestartEnb != null">
                #{modelPesRestartEnb,jdbcType=VARCHAR},
            </if>
            <if test="modelPesAnyJumpEnb != null">
                #{modelPesAnyJumpEnb,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelCreateTime != null">
                #{modelCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelCreator != null">
                #{modelCreator,jdbcType=VARCHAR},
            </if>
            <if test="modelUpdateTime != null">
                #{modelUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelUpdater != null">
                #{modelUpdater,jdbcType=VARCHAR},
            </if>
            <if test="modelDesc != null">
                #{modelDesc,jdbcType=VARCHAR},
            </if>
            <if test="modelStatus != null">
                #{modelStatus,jdbcType=VARCHAR},
            </if>
            <if test="modelOrderNum != null">
                #{modelOrderNum,jdbcType=INTEGER},
            </if>
            <if test="modelDeploymentId != null">
                #{modelDeploymentId,jdbcType=VARCHAR},
            </if>
            <if test="modelResourceName != null">
                #{modelResourceName,jdbcType=VARCHAR},
            </if>
            <if test="modelFromType != null">
                #{modelFromType,jdbcType=VARCHAR},
            </if>
            <if test="modelSaveVersion != null">
                #{modelSaveVersion,jdbcType=INTEGER},
            </if>
            <if test="modelLastVersion != null">
                #{modelLastVersion,jdbcType=VARCHAR},
            </if>
            <if test="modelContent != null">
                #{modelContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        update TFLOW_MODEL_INTEGRATED
        <set>
            <if test="modelReEd != null">
                MODEL_RE_ED = #{modelReEd,jdbcType=VARCHAR},
            </if>
            <if test="modelReId != null">
                MODEL_RE_ID = #{modelReId,jdbcType=VARCHAR},
            </if>
            <if test="modelReSuccess != null">
                MODEL_RE_SUCCESS = #{modelReSuccess,jdbcType=VARCHAR},
            </if>
            <if test="modelReKey != null">
                MODEL_RE_KEY = #{modelReKey,jdbcType=VARCHAR},
            </if>
            <if test="modelModuleId != null">
                MODEL_MODULE_ID = #{modelModuleId,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                MODEL_CODE = #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="modelFlowCategory != null">
                MODEL_FLOW_CATEGORY = #{modelFlowCategory,jdbcType=VARCHAR},
            </if>
            <if test="modelImageClass != null">
                MODEL_IMAGE_CLASS = #{modelImageClass,jdbcType=VARCHAR},
            </if>
            <if test="modelPesTitleText != null">
                MODEL_PES_TITLE_TEXT = #{modelPesTitleText,jdbcType=VARCHAR},
            </if>
            <if test="modelPesTitleValue != null">
                MODEL_PES_TITLE_VALUE = #{modelPesTitleValue,jdbcType=VARCHAR},
            </if>
            <if test="modelPesDescText != null">
                MODEL_PES_DESC_TEXT = #{modelPesDescText,jdbcType=VARCHAR},
            </if>
            <if test="modelPesDescValue != null">
                MODEL_PES_DESC_VALUE = #{modelPesDescValue,jdbcType=VARCHAR},
            </if>
            <if test="modelPesRestartEnb != null">
                MODEL_PES_RESTART_ENB = #{modelPesRestartEnb,jdbcType=VARCHAR},
            </if>
            <if test="modelPesAnyJumpEnb != null">
                MODEL_PES_ANY_JUMP_ENB = #{modelPesAnyJumpEnb,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                MODEL_NAME = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="modelCreateTime != null">
                MODEL_CREATE_TIME = #{modelCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelCreator != null">
                MODEL_CREATOR = #{modelCreator,jdbcType=VARCHAR},
            </if>
            <if test="modelUpdateTime != null">
                MODEL_UPDATE_TIME = #{modelUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modelUpdater != null">
                MODEL_UPDATER = #{modelUpdater,jdbcType=VARCHAR},
            </if>
            <if test="modelDesc != null">
                MODEL_DESC = #{modelDesc,jdbcType=VARCHAR},
            </if>
            <if test="modelStatus != null">
                MODEL_STATUS = #{modelStatus,jdbcType=VARCHAR},
            </if>
            <if test="modelOrderNum != null">
                MODEL_ORDER_NUM = #{modelOrderNum,jdbcType=INTEGER},
            </if>
            <if test="modelDeploymentId != null">
                MODEL_DEPLOYMENT_ID = #{modelDeploymentId,jdbcType=VARCHAR},
            </if>
            <if test="modelResourceName != null">
                MODEL_RESOURCE_NAME = #{modelResourceName,jdbcType=VARCHAR},
            </if>
            <if test="modelFromType != null">
                MODEL_FROM_TYPE = #{modelFromType,jdbcType=VARCHAR},
            </if>
            <if test="modelSaveVersion != null">
                MODEL_SAVE_VERSION = #{modelSaveVersion,jdbcType=INTEGER},
            </if>
            <if test="modelLastVersion != null">
                MODEL_LAST_VERSION = #{modelLastVersion,jdbcType=VARCHAR},
            </if>
            <if test="modelContent != null">
                MODEL_CONTENT = #{modelContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        update TFLOW_MODEL_INTEGRATED
        set MODEL_RE_ED = #{modelReEd,jdbcType=VARCHAR},
            MODEL_RE_ID = #{modelReId,jdbcType=VARCHAR},
            MODEL_RE_SUCCESS = #{modelReSuccess,jdbcType=VARCHAR},
            MODEL_RE_KEY = #{modelReKey,jdbcType=VARCHAR},
            MODEL_MODULE_ID = #{modelModuleId,jdbcType=VARCHAR},
            MODEL_CODE = #{modelCode,jdbcType=VARCHAR},
            MODEL_FLOW_CATEGORY = #{modelFlowCategory,jdbcType=VARCHAR},
            MODEL_IMAGE_CLASS = #{modelImageClass,jdbcType=VARCHAR},
            MODEL_PES_TITLE_TEXT = #{modelPesTitleText,jdbcType=VARCHAR},
            MODEL_PES_TITLE_VALUE = #{modelPesTitleValue,jdbcType=VARCHAR},
            MODEL_PES_DESC_TEXT = #{modelPesDescText,jdbcType=VARCHAR},
            MODEL_PES_DESC_VALUE = #{modelPesDescValue,jdbcType=VARCHAR},
            MODEL_PES_RESTART_ENB = #{modelPesRestartEnb,jdbcType=VARCHAR},
            MODEL_PES_ANY_JUMP_ENB = #{modelPesAnyJumpEnb,jdbcType=VARCHAR},
            MODEL_NAME = #{modelName,jdbcType=VARCHAR},
            MODEL_CREATE_TIME = #{modelCreateTime,jdbcType=TIMESTAMP},
            MODEL_CREATOR = #{modelCreator,jdbcType=VARCHAR},
            MODEL_UPDATE_TIME = #{modelUpdateTime,jdbcType=TIMESTAMP},
            MODEL_UPDATER = #{modelUpdater,jdbcType=VARCHAR},
            MODEL_DESC = #{modelDesc,jdbcType=VARCHAR},
            MODEL_STATUS = #{modelStatus,jdbcType=VARCHAR},
            MODEL_ORDER_NUM = #{modelOrderNum,jdbcType=INTEGER},
            MODEL_DEPLOYMENT_ID = #{modelDeploymentId,jdbcType=VARCHAR},
            MODEL_RESOURCE_NAME = #{modelResourceName,jdbcType=VARCHAR},
            MODEL_FROM_TYPE = #{modelFromType,jdbcType=VARCHAR},
            MODEL_SAVE_VERSION = #{modelSaveVersion,jdbcType=INTEGER},
            MODEL_LAST_VERSION = #{modelLastVersion,jdbcType=VARCHAR},
            MODEL_CONTENT = #{modelContent,jdbcType=LONGVARCHAR}
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.workflow.dbentities.ModelIntegratedEntity">
        update TFLOW_MODEL_INTEGRATED
        set MODEL_RE_ED = #{modelReEd,jdbcType=VARCHAR},
            MODEL_RE_ID = #{modelReId,jdbcType=VARCHAR},
            MODEL_RE_SUCCESS = #{modelReSuccess,jdbcType=VARCHAR},
            MODEL_RE_KEY = #{modelReKey,jdbcType=VARCHAR},
            MODEL_MODULE_ID = #{modelModuleId,jdbcType=VARCHAR},
            MODEL_CODE = #{modelCode,jdbcType=VARCHAR},
            MODEL_FLOW_CATEGORY = #{modelFlowCategory,jdbcType=VARCHAR},
            MODEL_IMAGE_CLASS = #{modelImageClass,jdbcType=VARCHAR},
            MODEL_PES_TITLE_TEXT = #{modelPesTitleText,jdbcType=VARCHAR},
            MODEL_PES_TITLE_VALUE = #{modelPesTitleValue,jdbcType=VARCHAR},
            MODEL_PES_DESC_TEXT = #{modelPesDescText,jdbcType=VARCHAR},
            MODEL_PES_DESC_VALUE = #{modelPesDescValue,jdbcType=VARCHAR},
            MODEL_PES_RESTART_ENB = #{modelPesRestartEnb,jdbcType=VARCHAR},
            MODEL_PES_ANY_JUMP_ENB = #{modelPesAnyJumpEnb,jdbcType=VARCHAR},
            MODEL_NAME = #{modelName,jdbcType=VARCHAR},
            MODEL_CREATE_TIME = #{modelCreateTime,jdbcType=TIMESTAMP},
            MODEL_CREATOR = #{modelCreator,jdbcType=VARCHAR},
            MODEL_UPDATE_TIME = #{modelUpdateTime,jdbcType=TIMESTAMP},
            MODEL_UPDATER = #{modelUpdater,jdbcType=VARCHAR},
            MODEL_DESC = #{modelDesc,jdbcType=VARCHAR},
            MODEL_STATUS = #{modelStatus,jdbcType=VARCHAR},
            MODEL_ORDER_NUM = #{modelOrderNum,jdbcType=INTEGER},
            MODEL_DEPLOYMENT_ID = #{modelDeploymentId,jdbcType=VARCHAR},
            MODEL_RESOURCE_NAME = #{modelResourceName,jdbcType=VARCHAR},
            MODEL_FROM_TYPE = #{modelFromType,jdbcType=VARCHAR},
            MODEL_SAVE_VERSION = #{modelSaveVersion,jdbcType=INTEGER},
            MODEL_LAST_VERSION = #{modelLastVersion,jdbcType=VARCHAR}
        where MODEL_ID = #{modelId,jdbcType=VARCHAR}
    </update>
</mapper>