<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.site.SiteResourceMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_SITE_RESOURCE ORDER by RESOURCE_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TBUILD_SITE_RESOURCE ORDER by RESOURCE_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TBUILD_SITE_RESOURCE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(RESOURCE_ORDER_NUM) is null then 1 else max(RESOURCE_ORDER_NUM)+1 end ORDERNUM from TBUILD_SITE_RESOURCE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TBUILD_SITE_RESOURCE<where>
        <if test="resourceFolderId !=null and resourceFolderId !=''"> and RESOURCE_FOLDER_ID like #{resourceFolderId} </if>
        <if test="resourceSiteId !=null and resourceSiteId !=''"> and RESOURCE_SITE_ID like #{resourceSiteId} </if>
        <if test="resourceName !=null and resourceName !=''"> and RESOURCE_NAME like #{resourceName} </if>
        <if test="resourceFileName !=null and resourceFileName !=''"> and RESOURCE_FILE_NAME like #{resourceFileName} </if>
        <if test="resourceCreator !=null and resourceCreator !=''"> and RESOURCE_CREATOR like #{resourceCreator} </if>
        <if test="resourceUpdater !=null and resourceUpdater !=''"> and RESOURCE_UPDATER like #{resourceUpdater} </if>
        <if test="resourceDesc !=null and resourceDesc !=''"> and RESOURCE_DESC like #{resourceDesc} </if>
        <if test="resourceStatus !=null and resourceStatus !=''"> and RESOURCE_STATUS like #{resourceStatus} </if>
        <if test="resourceType !=null and resourceType !=''"> and RESOURCE_TYPE like #{resourceType} </if>
    </where>ORDER by RESOURCE_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_SITE_RESOURCE
 where RESOURCE_ORDER_NUM = (select max(RESOURCE_ORDER_NUM) from TBUILD_SITE_RESOURCE where RESOURCE_ORDER_NUM<(select RESOURCE_ORDER_NUM from TBUILD_SITE_RESOURCE where RESOURCE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_SITE_RESOURCE
 where RESOURCE_ORDER_NUM = (select min(RESOURCE_ORDER_NUM) from TBUILD_SITE_RESOURCE where RESOURCE_ORDER_NUM>(select RESOURCE_ORDER_NUM from TBUILD_SITE_RESOURCE where RESOURCE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
</mapper>
