<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            html, body, #canvas, #canvas > div {
                height: 100%;
            }
        </style>
    </head>
    <body>12
        <div id="canvas"></div>
        <%= require('html-loader!../common/bpmn-navigated-viewer.html') %>
    </body>
</html>