<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.datastorage.TableRelationGroupMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.builder.dbentities.datastorage.TableRelationGroupEntity">
        <constructor>
            <idArg column="REL_GROUP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="REL_GROUP_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="REL_GROUP_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_PARENT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_IS_SYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_DEL_ENABLE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_PID_LIST" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_CHILD_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="REL_GROUP_USER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="REL_GROUP_USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    REL_GROUP_ID, REL_GROUP_VALUE, REL_GROUP_TEXT, REL_GROUP_ORDER_NUM, REL_GROUP_CREATE_TIME,
    REL_GROUP_DESC, REL_GROUP_STATUS, REL_GROUP_PARENT_ID, REL_GROUP_IS_SYSTEM, REL_GROUP_DEL_ENABLE,
    REL_GROUP_PID_LIST, REL_GROUP_CHILD_COUNT, REL_GROUP_USER_ID, REL_GROUP_USER_NAME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TBUILD_TABLE_RELATION_GROUP
        where REL_GROUP_ID = #{relGroupId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBUILD_TABLE_RELATION_GROUP
    where REL_GROUP_ID = #{relGroupId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.builder.dbentities.datastorage.TableRelationGroupEntity">
    insert into TBUILD_TABLE_RELATION_GROUP (REL_GROUP_ID, REL_GROUP_VALUE, REL_GROUP_TEXT,
      REL_GROUP_ORDER_NUM, REL_GROUP_CREATE_TIME,
      REL_GROUP_DESC, REL_GROUP_STATUS, REL_GROUP_PARENT_ID,
      REL_GROUP_IS_SYSTEM, REL_GROUP_DEL_ENABLE,
      REL_GROUP_PID_LIST, REL_GROUP_CHILD_COUNT, REL_GROUP_USER_ID,
      REL_GROUP_USER_NAME)
    values (#{relGroupId,jdbcType=NVARCHAR}, #{relGroupValue,jdbcType=NVARCHAR}, #{relGroupText,jdbcType=NVARCHAR},
      #{relGroupOrderNum,jdbcType=INTEGER}, #{relGroupCreateTime,jdbcType=TIMESTAMP},
      #{relGroupDesc,jdbcType=NVARCHAR}, #{relGroupStatus,jdbcType=NVARCHAR}, #{relGroupParentId,jdbcType=NVARCHAR},
      #{relGroupIsSystem,jdbcType=NVARCHAR}, #{relGroupDelEnable,jdbcType=NVARCHAR},
      #{relGroupPidList,jdbcType=NVARCHAR}, #{relGroupChildCount,jdbcType=INTEGER}, #{relGroupUserId,jdbcType=NVARCHAR},
      #{relGroupUserName,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.builder.dbentities.datastorage.TableRelationGroupEntity">
        insert into TBUILD_TABLE_RELATION_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relGroupId != null">
                REL_GROUP_ID,
            </if>
            <if test="relGroupValue != null">
                REL_GROUP_VALUE,
            </if>
            <if test="relGroupText != null">
                REL_GROUP_TEXT,
            </if>
            <if test="relGroupOrderNum != null">
                REL_GROUP_ORDER_NUM,
            </if>
            <if test="relGroupCreateTime != null">
                REL_GROUP_CREATE_TIME,
            </if>
            <if test="relGroupDesc != null">
                REL_GROUP_DESC,
            </if>
            <if test="relGroupStatus != null">
                REL_GROUP_STATUS,
            </if>
            <if test="relGroupParentId != null">
                REL_GROUP_PARENT_ID,
            </if>
            <if test="relGroupIsSystem != null">
                REL_GROUP_IS_SYSTEM,
            </if>
            <if test="relGroupDelEnable != null">
                REL_GROUP_DEL_ENABLE,
            </if>
            <if test="relGroupPidList != null">
                REL_GROUP_PID_LIST,
            </if>
            <if test="relGroupChildCount != null">
                REL_GROUP_CHILD_COUNT,
            </if>
            <if test="relGroupUserId != null">
                REL_GROUP_USER_ID,
            </if>
            <if test="relGroupUserName != null">
                REL_GROUP_USER_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relGroupId != null">
                #{relGroupId,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupValue != null">
                #{relGroupValue,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupText != null">
                #{relGroupText,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupOrderNum != null">
                #{relGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="relGroupCreateTime != null">
                #{relGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="relGroupDesc != null">
                #{relGroupDesc,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupStatus != null">
                #{relGroupStatus,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupParentId != null">
                #{relGroupParentId,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupIsSystem != null">
                #{relGroupIsSystem,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupDelEnable != null">
                #{relGroupDelEnable,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupPidList != null">
                #{relGroupPidList,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupChildCount != null">
                #{relGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="relGroupUserId != null">
                #{relGroupUserId,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupUserName != null">
                #{relGroupUserName,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.builder.dbentities.datastorage.TableRelationGroupEntity">
        update TBUILD_TABLE_RELATION_GROUP
        <set>
            <if test="relGroupValue != null">
                REL_GROUP_VALUE = #{relGroupValue,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupText != null">
                REL_GROUP_TEXT = #{relGroupText,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupOrderNum != null">
                REL_GROUP_ORDER_NUM = #{relGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="relGroupCreateTime != null">
                REL_GROUP_CREATE_TIME = #{relGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="relGroupDesc != null">
                REL_GROUP_DESC = #{relGroupDesc,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupStatus != null">
                REL_GROUP_STATUS = #{relGroupStatus,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupParentId != null">
                REL_GROUP_PARENT_ID = #{relGroupParentId,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupIsSystem != null">
                REL_GROUP_IS_SYSTEM = #{relGroupIsSystem,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupDelEnable != null">
                REL_GROUP_DEL_ENABLE = #{relGroupDelEnable,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupPidList != null">
                REL_GROUP_PID_LIST = #{relGroupPidList,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupChildCount != null">
                REL_GROUP_CHILD_COUNT = #{relGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="relGroupUserId != null">
                REL_GROUP_USER_ID = #{relGroupUserId,jdbcType=NVARCHAR},
            </if>
            <if test="relGroupUserName != null">
                REL_GROUP_USER_NAME = #{relGroupUserName,jdbcType=NVARCHAR},
            </if>
        </set>
        where REL_GROUP_ID = #{relGroupId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.builder.dbentities.datastorage.TableRelationGroupEntity">
    update TBUILD_TABLE_RELATION_GROUP
    set REL_GROUP_VALUE = #{relGroupValue,jdbcType=NVARCHAR},
      REL_GROUP_TEXT = #{relGroupText,jdbcType=NVARCHAR},
      REL_GROUP_ORDER_NUM = #{relGroupOrderNum,jdbcType=INTEGER},
      REL_GROUP_CREATE_TIME = #{relGroupCreateTime,jdbcType=TIMESTAMP},
      REL_GROUP_DESC = #{relGroupDesc,jdbcType=NVARCHAR},
      REL_GROUP_STATUS = #{relGroupStatus,jdbcType=NVARCHAR},
      REL_GROUP_PARENT_ID = #{relGroupParentId,jdbcType=NVARCHAR},
      REL_GROUP_IS_SYSTEM = #{relGroupIsSystem,jdbcType=NVARCHAR},
      REL_GROUP_DEL_ENABLE = #{relGroupDelEnable,jdbcType=NVARCHAR},
      REL_GROUP_PID_LIST = #{relGroupPidList,jdbcType=NVARCHAR},
      REL_GROUP_CHILD_COUNT = #{relGroupChildCount,jdbcType=INTEGER},
      REL_GROUP_USER_ID = #{relGroupUserId,jdbcType=NVARCHAR},
      REL_GROUP_USER_NAME = #{relGroupUserName,jdbcType=NVARCHAR}
    where REL_GROUP_ID = #{relGroupId,jdbcType=NVARCHAR}
  </update>
</mapper>