<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::TurfLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <style>

    </style>
</head>
<body>
<div id="gridWrap" class="list-2column">
    <div class="left-outer-wrap" style="width: 250px">
        <div class="inner-wrap">
            <div class="tool-bar-wrap">
            </div>
            <div style="position: absolute;top: 40px;bottom: 20px;overflow: auto;width: 245px">
                <ul id="zTreeUL" class="ztree" style="width: 100%"></ul>
            </div>
        </div>
    </div>
    <div class="right-outer-wrap iv-list-page-wrap" style="padding: 10px;left: 260px">
        <tabs>
            <tab-pane label="网格地图">
                <div id="map-wrap-grid" class="map-wrap-grid" style="">
                    <div id="baidu_map_grid" style="height: 100%"></div>
                    <div class="map-operation-button-wrap" style="display: none;background-color:#D1F2EB;border: 2px dashed #717D7E;width: 62px;height: 404px;text-align: center">
                        <div class="map-operation-button">
                            <input v-model="isShowSameLevelGridPath" type="checkbox" style="width: 30px;height: 30px;margin: 9px 9px;">
                        </div>
                        显示同级网格区域
                        <div class="map-operation-button">
                            <input v-model="isShowNormalBuild" type="checkbox" style="width: 30px;height: 30px;margin: 9px 9px;">
                        </div>
                        显示选中区域一般建筑
                        <div class="map-operation-button">
                            <input v-model="isShowSPBuild" type="checkbox" style="width: 30px;height: 30px;margin: 9px 9px;">
                        </div>
                        显示选中区域特殊建筑
                        <div class="map-operation-button">
                            <input v-model="isShowEvent" type="checkbox" style="width: 30px;height: 30px;margin: 9px 9px;">
                        </div>
                        显示选中区域事件
                    </div>
                </div>
            </tab-pane>
        </tabs>
    </div>

</div>
<script>

    var gridMap = new Vue({
        el: "#gridWrap",
        mounted: function () {
            this.initTree();
            BaiduMapUtility.LoadJsCompleted("gridMap.initBaiduMap");
            $("#map-wrap-grid").height(PageStyleUtility.GetPageHeight()-80);
            /*$("#cb_show_same_level_grid_path").click(function () {
                if($(this).prop("checked")){
                    gridMap.loadGridPathFromServer();
                }
                else {
                    gridMap.removeSameLevelGridPath();
                }
            })*/
        },
        data: {
            acInterface: {
                <!--Tree -->
                getOrganAndUserData: "/Rest/Grid/SSOProxy/OrganAndUser/GetOrganAndUserData",
                <!--Map-->
                saveMapPath:"/Rest/Grid/GridInfo/GridInfoMain/SaveGridMapPath",
                getSameLevelGrid:"/Rest/Grid/GridInfo/GridInfoMain/GetSameLevelGrid",
                <!--Build-->
                getBuildMapLocation:"/Rest/Grid/Build/BuildMain/GetBuildMapLocation",
                <!--Event-->
                getEventMapLocation:"/Rest/Grid/Event/EventMain/GetEventMapLocation"
            },
            <!--Map-->
            map:{
                mapObj:null,
                selectedLngLat:null,
                viewObjs:[],
            },
            <!--Tree-->
            OrganTree:{
                treeSetting: {
                    async: {
                        enable: true,
                        // Ajax 获取数据的 URL 地址
                        url: ""
                    },
                    // 必须使用data
                    data: {
                        key: {
                            name: "organName"
                        },
                        simpleData: {
                            enable: true,
                            idKey: "organId", // id编号命名
                            pIdKey: "organParentId",  // 父id编号命名
                            rootId: "24655792-87a2-4057-887f-05db96e868be"
                        }
                    },
                    // 回调函数
                    callback: {
                        onClick: function (event, treeId, treeNode) {
                            gridMap.treeNodeSelected(event, treeId, treeNode);
                        },
                        //成功的回调函数
                        onAsyncSuccess: function (event, treeId, treeNode, msg) {
                            gridMap.OrganTree.treeObj.expandAll(true);
                        }
                    }
                },
                treeIdFieldName: "roleGroupId",
                treeObj: null,
                treeSelectedNode: null
            },
            isShowSameLevelGridPath:true,
            isShowNormalBuild:true,
            isShowSPBuild:true,
            isShowEvent:true
        },
        watch: {
            isShowSameLevelGridPath: function (val) {
                if(val){
                    this.loadGridPathFromServer();
                }
                else{
                    this.removeViewObjs("GridPolygon");
                    this.removeViewObjs("GridPolygonName");
                }
            },
            isShowNormalBuild:function (val){
                if(val){
                    this.loadBuildPointMarkerFromServer(this.OrganTree.treeSelectedNode.organId,"一般建筑物","4eadef58-59cc-476b-b0ae-251559cf0ce2");
                }
                else{
                    this.removeViewObjs("一般建筑物");
                }
            },
            isShowSPBuild:function (val){
                if(val){
                    this.loadBuildPointMarkerFromServer(this.OrganTree.treeSelectedNode.organId,"特殊建筑物","fd770a12-5412-4a80-8ebf-de5f85d6359f");
                }
                else{
                    this.removeViewObjs("特殊建筑物");
                }
            },
            isShowEvent:function (val){
                if(val){
                    this.loadEventPointMarkerFromServer(this.OrganTree.treeSelectedNode.organId,"c2cde8f2-351a-498f-9a65-fa64720736ea");
                }
                else{
                    this.removeViewObjs("网格事件");
                }
            }
        },
        methods: {
            //region 地图
            initBaiduMap:function(){
                this.map.mapObj = new BMapGL.Map('baidu_map_grid');
                this.map.mapObj.centerAndZoom(new BMapGL.Point(114.54200132645097, 22.754142795907825), 16);
                this.map.mapObj.enableScrollWheelZoom(true);
                this.map.mapObj.addEventListener('click', function(e) {
                    gridMap.map.selectedLngLat=e.latlng;
                    console.log(e.latlng);
                    /*alert('点击的经纬度：' + e.latlng.lng + ', ' + e.latlng.lat);
                    var mercator = gridMap.map.mapObj.lnglatToMercator(e.latlng.lng, e.latlng.lat);
                    alert('点的墨卡托坐标：' + mercator[0] + ', ' + mercator[1]);*/
                });
                $(".map-operation-button-wrap").show();
            },
            addToViewObjs:function(viewObj){
                if(!ArrayUtility.Exist(this.map.viewObjs,function(item){return item.Id==viewObj.Id})){
                    this.map.mapObj.addOverlay(viewObj.obj);
                    this.map.viewObjs.push(viewObj);
                    //console.log(viewObj);
                }
            },
            removeViewObjs:function (GroupName){
                for (var i = this.map.viewObjs.length-1; i >=0; i--) {
                    var item=this.map.viewObjs[i];
                    if(item.GroupName==GroupName){
                        this.map.mapObj.removeOverlay(item.obj);
                        ArrayUtility.Delete(this.map.viewObjs,i);
                    }
                }
            },
            loadGridPathFromServer:function() {
                if (this.OrganTree.treeSelectedNode == null) {
                    DialogUtility.ToastMessage(this, "请先选择行政区划!");
                    return;
                }
                var selectOrgan = this.OrganTree.treeSelectedNode;
                AjaxUtility.Get(this.acInterface.getSameLevelGrid, {
                    parentId: selectOrgan.organParentId,
                    excludeId: ""
                }, function (result) {
                    //console.log(result);
                    if (result.success) {
                        for (var i = 0; i < result.data.length; i++) {
                            var singleGridInfo = result.data[i];
                            var node = this.OrganTree.treeObj.getNodesByParam("organId", singleGridInfo.gridId)[0];
                            if (StringUtility.IsNotNullOrEmpty(singleGridInfo.gridMapPath)) {
                                this.drawSingleGridPath(singleGridInfo,singleGridInfo.gridMapPath, node.organName);
                            }
                        }
                    }
                }, this);
            },
            drawSingleGridPath:function(singleGridInfo,gridMapPath,txt) {
                var objs = JsonUtility.StringToJson(gridMapPath);
                for (var i = 0; i < objs.length; i++) {
                    var obj = objs[i];
                    if (obj.type == "Polygon") {
                        var polygonPath = obj.path;
                        //console.log(polygonPath);
                        var polygonPathArray = [];

                        for (var j = 0; j < polygonPath.length; j++) {
                            polygonPathArray.push(new BMapGL.Point(polygonPath[j].lng, polygonPath[j].lat))
                        }
                        var polygon = new BMapGL.Polygon(polygonPathArray, {
                            strokeColor: 'blue',
                            strokeWeight: 2,
                            strokeOpacity: 0.8,
                            fillColor: '#CD6155',
                            fillOpacity: 0.5,
                        });
                        //this.map.mapObj.addOverlay(polygon);

                        this.addToViewObjs({
                            Id: "Grid_" + singleGridInfo.gridId + "_" + i,
                            "GroupName": "GridPolygon",
                            "type": "Polygon",
                            "obj": polygon
                        });

                        var centerPoint = BaiduMapUtility.GetLatLngCenter(polygonPathArray);
                        //console.log(centerPoint);
                        var point = new BMapGL.Point(centerPoint.lng, centerPoint.lat);
                        var content = "label";
                        var label = new BMapGL.Label(txt, {       // 创建文本标注
                            position: point,                          // 设置标注的地理位置
                            offset: new BMapGL.Size(-10, -10)           // 设置标注的偏移量
                        })
                        //this.map.mapObj.addOverlay(label);
                        this.addToViewObjs({
                            Id: "GridLabel_" + singleGridInfo.gridId + "_" + i,
                            "GroupName": "GridPolygonName",
                            "type": "text",
                            "obj": label
                        });
                    }
                }
            },
            removeSameLevelGridPath:function (){
                for (var i = 0; i < this.map.viewGridObjs.length; i++) {
                    this.map.mapObj.removeOverlay(this.map.viewGridObjs[i].obj);
                }
                this.map.viewGridObjs=[];
            },
            clearCurrentGridEditArea:function(){
                var selectOrgan = this.OrganTree.treeSelectedNode;
                for (var i = 0; i < this.map.editObjs.length; i++) {
                    this.map.mapObj.removeOverlay(this.map.editObjs[i].obj);
                }
                this.map.editObjs=[];
            },
            //endregion
            initTree: function () {
                var _self=this;
                AjaxUtility.Get(this.acInterface.getOrganAndUserData, {}, function (result) {
                    //console.log(result);
                    if(result.success){
                        var treeData=result.data.ALLOrganMinProp;
                        if(treeData!=null&&treeData.length>0){
                            for(var i=0;i<treeData.length;i++) {
                                if(treeData[i].organId!="0") {
                                    treeData[i].icon = "../../../Themes/Png16X16/icons8-registry-editor-16.png";
                                }
                            }
                        }
                        var filterTreeData=ArrayUtility.Where(treeData,function (item){
                           if(item.organTypeValue=="Street"||item.organTypeValue=="Community"||item.organTypeValue=="GridUnit"){
                                return true;
                           }
                           else if(item.organName=="行政区划"){
                               return true;
                           }
                           return false;
                        });
                        //_self.member.allMemberData=result.data.ALLUserMinProp;
                        _self.OrganTree.treeObj=$.fn.zTree.init($("#zTreeUL"), _self.OrganTree.treeSetting,filterTreeData);
                        _self.OrganTree.treeObj.expandAll(true);
                    }
                    else {
                        DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {});
                    }
                }, this);
            },
            treeNodeSelected: function (event, treeId, treeNode) {
                // 根节点不触发任何事件
                this.OrganTree.treeSelectedNode = treeNode;
                this.map.selectedLngLat=null;

                this.removeViewObjs("一般建筑物");
                this.removeViewObjs("特殊建筑物");
                this.removeViewObjs("GridPolygon");
                this.removeViewObjs("GridPolygonName");
                this.removeViewObjs("网格事件");

                if(this.isShowSameLevelGridPath){
                    this.loadGridPathFromServer();
                }
                if(this.isShowNormalBuild){
                    this.loadBuildPointMarkerFromServer(treeNode.organId,"一般建筑物","4eadef58-59cc-476b-b0ae-251559cf0ce2");
                }
                if(this.isShowSPBuild){
                    this.loadBuildPointMarkerFromServer(treeNode.organId,"特殊建筑物","fd770a12-5412-4a80-8ebf-de5f85d6359f");
                }
                if(this.isShowEvent){
                    this.loadEventPointMarkerFromServer(treeNode.organId,"c2cde8f2-351a-498f-9a65-fa64720736ea");
                }
            },
            loadBuildPointMarkerFromServer:function (organId,buildCategory,formId) {
                this.loadPointMarkFromServer(this.acInterface.getBuildMapLocation, {
                    organId: organId,
                    buildCategory: buildCategory
                }, function (result) {
                    var buildData = result.data;
                    for (var i = 0; i < buildData.length; i++) {
                        var singleBuildData=buildData[i];
                        var buildMapLocation=JsonUtility.StringToJson(singleBuildData.buildMapLocation);
                        for (var j = 0; j < buildMapLocation.length; j++) {
                            if(buildMapLocation[j].type=="point") {
                                var point = new BMapGL.Point(buildMapLocation[j].path.lng, buildMapLocation[j].path.lat);
                                var icon = this.getNormalBuildMarkIcon();
                                if(buildCategory=="特殊建筑物"){
                                    icon = this.getSPBuildMarkIcon();
                                }
                                var marker = new BMapGL.Marker(point, {
                                    icon: icon
                                });
                                this.createBuildInfoWindow(singleBuildData,point,marker,formId);

                                this.addToViewObjs({
                                    Id: "Build_" + singleBuildData.buildId + "_" + j,
                                    "GroupName": buildCategory,
                                    "type": "point",
                                    "obj": marker
                                });
                            }
                        }
                    }
                });
            },
            loadPointMarkFromServer:function (url,paras,func){
                AjaxUtility.Get(url, paras, function (result) {
                    if(result.success){
                        //console.log(result);
                        func.call(this,result);
                    }
                }, this);
            },
            getNormalBuildMarkIcon:function (){
                var myIcon = new BMapGL.Icon("../../../Themes/MapImage/mark20-32.png", new BMapGL.Size(32, 32));
                return myIcon;
            },
            getSPBuildMarkIcon:function (){
                var myIcon = new BMapGL.Icon("../../../Themes/MapImage/mark19-32.png", new BMapGL.Size(32, 32));
                return myIcon;
            },
            getEventMarkIcon:function (){
                var myIcon = new BMapGL.Icon("../../../Themes/MapImage/mark18-32.png", new BMapGL.Size(32, 32));
                return myIcon;
            },
            createBuildInfoWindow:function (buildData,point,marker,formId){
                // 创建信息窗口
                var opts = {
                    width: 440,
                    height: 310,
                    title: buildData.buildCategory
                };
                var infoWindow = new BMapGL.InfoWindow(`<table class="light-gray-table" style="width: 99%">
                    <tr><td style="width: 60px">编号:</td><td>${buildData.buildCode}</td></tr>
                    <tr><td>名称:</td><td>${buildData.buildName}</td></tr>
                    <tr><td>地址:</td><td>${buildData.buildAddress}</td></tr>
                    <tr><td>层数:</td><td>${buildData.buildFloorDes}</td></tr>
                    <tr><td>功能:</td><td>${buildData.buildFunctionCategory}</td></tr>
                    <tr><td>类型:</td><td>${buildData.buildType}</td></tr>
                    <tr><td>操作:</td><td><a onclick="gridMap.Frame_OpenIframeWindow('${formId}','${buildData.buildId}',1324,900,'查看建筑物','')">查看详情</a></td></tr>
                </table>`, opts);

                marker.addEventListener('click', function () {
                    console.log(buildData);
                    gridMap.map.mapObj.openInfoWindow(infoWindow, point); // 开启信息窗口
                });
            },
            loadEventPointMarkerFromServer:function(organId,formId){
                this.loadPointMarkFromServer(this.acInterface.getEventMapLocation, {
                    organId: organId
                }, function (result) {
                    var eventData = result.data;
                    console.log(result);
                    for (var i = 0; i < eventData.length; i++) {
                        var singleEventData=eventData[i];
                        var eventAcceptMapLocation=JsonUtility.StringToJson(singleEventData.eventAcceptMapLocation);
                        for (var j = 0; j < eventAcceptMapLocation.length; j++) {
                            if(eventAcceptMapLocation[j].type=="point") {
                                var point = new BMapGL.Point(eventAcceptMapLocation[j].path.lng, eventAcceptMapLocation[j].path.lat);
                                var icon = this.getEventMarkIcon();
                                var marker = new BMapGL.Marker(point, {
                                    icon: icon
                                });
                                this.createEventInfoWindow(singleEventData,point,marker,formId);

                                this.addToViewObjs({
                                    Id: "Event_" + singleEventData.eventId + "_" + j,
                                    "GroupName": "网格事件",
                                    "type": "point",
                                    "obj": marker
                                });
                            }
                        }
                    }
                });
            },
            createEventInfoWindow:function (eventData,point,marker,formId){
                // 创建信息窗口
                var opts = {
                    width: 440,
                    height: 310,
                    title: "网格事件"
                };
                var eventAppealQuestion=eventData.eventAppealQuestion;
                if(eventAppealQuestion.length>25){
                    eventAppealQuestion=eventAppealQuestion.substring(0,22)+"...";
                }
                var infoWindow = new BMapGL.InfoWindow(`<table class="light-gray-table" style="width: 99%">
                    <tr><td style="width: 90px">编号:</td><td>${eventData.eventCode}</td></tr>
                    <tr><td>问题:</td><td>${eventAppealQuestion}</td></tr>
                    <tr><td>主要诉求人:</td><td>${eventData.eventMainAppealerName}</td></tr>
                    <tr><td>等级:</td><td>${eventData.eventLevel}</td></tr>
                    <tr><td>类型1:</td><td>${eventData.eventType1}</td></tr>
                    <tr><td>类型2:</td><td>${eventData.eventType2}</td></tr>
                    <tr><td>操作:</td><td><a onclick="gridMap.Frame_OpenIframeWindow('${formId}','${eventData.eventId}',1324,900,'查看事件','')">查看详情</a></td></tr>
                </table>`, opts);

                marker.addEventListener('click', function () {
                    console.log(eventData);
                    gridMap.map.mapObj.openInfoWindow(infoWindow, point); // 开启信息窗口
                });
            },
            Frame_OpenIframeWindow:function (formid,recordId,windowwidth,windowheight,windowcaption,paraStr){
                //debugger;
                DialogUtility.Frame_OpenIframeWindow(window,DialogUtility.DialogId,BaseUtility.BuildView("/HTML/Builder/Runtime/WebFormRuntime.html",{
                    "formId":formid,
                    "buttonId":"",
                    "listFormButtonElemId":"",
                    "recordId":recordId,
                    "operationType":"view",
                    "windowWidth":windowwidth,
                    "windowHeight":windowheight,
                    "menuRightUrlPara":paraStr
                }), {
                    "width": windowwidth,
                    "height": windowheight,
                    "title":windowcaption
                },1,true);
            }
        }
    });
</script>
</body>
</html>