<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.portlet.dao.TemplatePageMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from PORTLET_TEMPLATE_PAGE ORDER by PAGE_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from PORTLET_TEMPLATE_PAGE ORDER by PAGE_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from PORTLET_TEMPLATE_PAGE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(PAGE_ORDER_NUM) is null then 1 else max(PAGE_ORDER_NUM)+1 end ORDERNUM from PORTLET_TEMPLATE_PAGE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from PORTLET_TEMPLATE_PAGE<where>
        <if test="pageGroupId !=null and pageGroupId !=''"> and PAGE_GROUP_ID like #{pageGroupId} </if>
        <if test="pageTitle !=null and pageTitle !=''"> and PAGE_TITLE like #{pageTitle} </if>
        <if test="pageName !=null and pageName !=''"> and PAGE_NAME like #{pageName} </if>
        <if test="pageDesc !=null and pageDesc !=''"> and PAGE_DESC like #{pageDesc} </if>
        <if test="pageUpdater !=null and pageUpdater !=''"> and PAGE_UPDATER like #{pageUpdater} </if>
        <if test="pageRefJsConfig !=null and pageRefJsConfig !=''"> and PAGE_REF_JS_CONFIG like #{pageRefJsConfig} </if>
        <if test="pageRefCssConfig !=null and pageRefCssConfig !=''"> and PAGE_REF_CSS_CONFIG like #{pageRefCssConfig} </if>
        <if test="pageBefRender !=null and pageBefRender !=''"> and PAGE_BEF_RENDER like #{pageBefRender} </if>
        <if test="pageAftRender !=null and pageAftRender !=''"> and PAGE_AFT_RENDER like #{pageAftRender} </if>
        <if test="pageWidgetBefRender !=null and pageWidgetBefRender !=''"> and PAGE_WIDGET_BEF_RENDER like #{pageWidgetBefRender} </if>
        <if test="pageWidgetAftRender !=null and pageWidgetAftRender !=''"> and PAGE_WIDGET_AFT_RENDER like #{pageWidgetAftRender} </if>
        <if test="pageStatus !=null and pageStatus !=''"> and PAGE_STATUS like #{pageStatus} </if>
        <if test="pageConfig !=null and pageConfig !=''"> and PAGE_CONFIG like #{pageConfig} </if>
        <if test="pageProperties !=null and pageProperties !=''"> and PAGE_PROPERTIES like #{pageProperties} </if>
        <if test="pageWidgetConfig !=null and pageWidgetConfig !=''"> and PAGE_WIDGET_CONFIG like #{pageWidgetConfig} </if>
    </where>ORDER by PAGE_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from PORTLET_TEMPLATE_PAGE
 where PAGE_ORDER_NUM = (select max(PAGE_ORDER_NUM) from PORTLET_TEMPLATE_PAGE where PAGE_ORDER_NUM<(select PAGE_ORDER_NUM from PORTLET_TEMPLATE_PAGE where PAGE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from PORTLET_TEMPLATE_PAGE
 where PAGE_ORDER_NUM = (select min(PAGE_ORDER_NUM) from PORTLET_TEMPLATE_PAGE where PAGE_ORDER_NUM>(select PAGE_ORDER_NUM from PORTLET_TEMPLATE_PAGE where PAGE_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectByStatus" resultMap="ResultMapWithBLOBs">select<include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" /> from PORTLET_TEMPLATE_PAGE where PAGE_STATUS=#{status} ORDER by PAGE_ORDER_NUM DESC</select>
    <select id="selectByStatusASC" resultMap="ResultMapWithBLOBs">select<include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" /> from PORTLET_TEMPLATE_PAGE where PAGE_STATUS=#{status} ORDER by PAGE_ORDER_NUM ASC</select>
</mapper>
