<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.portlet.dao.TemplatePageMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.portlet.dbentities.TemplatePageEntity">
        <constructor>
            <idArg column="PAGE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_GROUP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_TITLE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="PAGE_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_REF_JS_CONFIG" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_REF_CSS_CONFIG" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_BEF_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_AFT_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_WIDGET_BEF_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_WIDGET_AFT_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.jb4dc.portlet.dbentities.TemplatePageEntityWithBLOBs">
        <constructor>
            <idArg column="PAGE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_GROUP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_TITLE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="PAGE_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_REF_JS_CONFIG" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_REF_CSS_CONFIG" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_BEF_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_AFT_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_WIDGET_BEF_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_WIDGET_AFT_RENDER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="PAGE_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="PAGE_CONFIG" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="PAGE_PROPERTIES" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
            <arg column="PAGE_WIDGET_CONFIG" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        PAGE_ID, PAGE_GROUP_ID, PAGE_TITLE, PAGE_NAME, PAGE_DESC, PAGE_UPDATE_TIME, PAGE_UPDATER,
        PAGE_REF_JS_CONFIG, PAGE_REF_CSS_CONFIG, PAGE_BEF_RENDER, PAGE_AFT_RENDER, PAGE_WIDGET_BEF_RENDER,
        PAGE_WIDGET_AFT_RENDER, PAGE_STATUS, PAGE_ORDER_NUM
    </sql>
    <sql id="Blob_Column_List">
        PAGE_CONFIG, PAGE_PROPERTIES, PAGE_WIDGET_CONFIG
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from PORTLET_TEMPLATE_PAGE
        where PAGE_ID = #{pageId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from PORTLET_TEMPLATE_PAGE
        where PAGE_ID = #{pageId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jb4dc.portlet.dbentities.TemplatePageEntityWithBLOBs">
        insert into PORTLET_TEMPLATE_PAGE (PAGE_ID, PAGE_GROUP_ID, PAGE_TITLE,
        PAGE_NAME, PAGE_DESC, PAGE_UPDATE_TIME,
        PAGE_UPDATER, PAGE_REF_JS_CONFIG, PAGE_REF_CSS_CONFIG,
        PAGE_BEF_RENDER, PAGE_AFT_RENDER, PAGE_WIDGET_BEF_RENDER,
        PAGE_WIDGET_AFT_RENDER, PAGE_STATUS, PAGE_ORDER_NUM,
        PAGE_CONFIG, PAGE_PROPERTIES, PAGE_WIDGET_CONFIG
        )
        values (#{pageId,jdbcType=VARCHAR}, #{pageGroupId,jdbcType=VARCHAR}, #{pageTitle,jdbcType=VARCHAR},
        #{pageName,jdbcType=VARCHAR}, #{pageDesc,jdbcType=VARCHAR}, #{pageUpdateTime,jdbcType=TIMESTAMP},
        #{pageUpdater,jdbcType=VARCHAR}, #{pageRefJsConfig,jdbcType=VARCHAR}, #{pageRefCssConfig,jdbcType=VARCHAR},
        #{pageBefRender,jdbcType=VARCHAR}, #{pageAftRender,jdbcType=VARCHAR}, #{pageWidgetBefRender,jdbcType=VARCHAR},
        #{pageWidgetAftRender,jdbcType=VARCHAR}, #{pageStatus,jdbcType=VARCHAR}, #{pageOrderNum,jdbcType=INTEGER},
        #{pageConfig,jdbcType=LONGVARCHAR}, #{pageProperties,jdbcType=LONGVARCHAR}, #{pageWidgetConfig,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.portlet.dbentities.TemplatePageEntityWithBLOBs">
        insert into PORTLET_TEMPLATE_PAGE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pageId != null">
                PAGE_ID,
            </if>
            <if test="pageGroupId != null">
                PAGE_GROUP_ID,
            </if>
            <if test="pageTitle != null">
                PAGE_TITLE,
            </if>
            <if test="pageName != null">
                PAGE_NAME,
            </if>
            <if test="pageDesc != null">
                PAGE_DESC,
            </if>
            <if test="pageUpdateTime != null">
                PAGE_UPDATE_TIME,
            </if>
            <if test="pageUpdater != null">
                PAGE_UPDATER,
            </if>
            <if test="pageRefJsConfig != null">
                PAGE_REF_JS_CONFIG,
            </if>
            <if test="pageRefCssConfig != null">
                PAGE_REF_CSS_CONFIG,
            </if>
            <if test="pageBefRender != null">
                PAGE_BEF_RENDER,
            </if>
            <if test="pageAftRender != null">
                PAGE_AFT_RENDER,
            </if>
            <if test="pageWidgetBefRender != null">
                PAGE_WIDGET_BEF_RENDER,
            </if>
            <if test="pageWidgetAftRender != null">
                PAGE_WIDGET_AFT_RENDER,
            </if>
            <if test="pageStatus != null">
                PAGE_STATUS,
            </if>
            <if test="pageOrderNum != null">
                PAGE_ORDER_NUM,
            </if>
            <if test="pageConfig != null">
                PAGE_CONFIG,
            </if>
            <if test="pageProperties != null">
                PAGE_PROPERTIES,
            </if>
            <if test="pageWidgetConfig != null">
                PAGE_WIDGET_CONFIG,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pageId != null">
                #{pageId,jdbcType=VARCHAR},
            </if>
            <if test="pageGroupId != null">
                #{pageGroupId,jdbcType=VARCHAR},
            </if>
            <if test="pageTitle != null">
                #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageName != null">
                #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="pageDesc != null">
                #{pageDesc,jdbcType=VARCHAR},
            </if>
            <if test="pageUpdateTime != null">
                #{pageUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageUpdater != null">
                #{pageUpdater,jdbcType=VARCHAR},
            </if>
            <if test="pageRefJsConfig != null">
                #{pageRefJsConfig,jdbcType=VARCHAR},
            </if>
            <if test="pageRefCssConfig != null">
                #{pageRefCssConfig,jdbcType=VARCHAR},
            </if>
            <if test="pageBefRender != null">
                #{pageBefRender,jdbcType=VARCHAR},
            </if>
            <if test="pageAftRender != null">
                #{pageAftRender,jdbcType=VARCHAR},
            </if>
            <if test="pageWidgetBefRender != null">
                #{pageWidgetBefRender,jdbcType=VARCHAR},
            </if>
            <if test="pageWidgetAftRender != null">
                #{pageWidgetAftRender,jdbcType=VARCHAR},
            </if>
            <if test="pageStatus != null">
                #{pageStatus,jdbcType=VARCHAR},
            </if>
            <if test="pageOrderNum != null">
                #{pageOrderNum,jdbcType=INTEGER},
            </if>
            <if test="pageConfig != null">
                #{pageConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="pageProperties != null">
                #{pageProperties,jdbcType=LONGVARCHAR},
            </if>
            <if test="pageWidgetConfig != null">
                #{pageWidgetConfig,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.portlet.dbentities.TemplatePageEntityWithBLOBs">
        update PORTLET_TEMPLATE_PAGE
        <set>
            <if test="pageGroupId != null">
                PAGE_GROUP_ID = #{pageGroupId,jdbcType=VARCHAR},
            </if>
            <if test="pageTitle != null">
                PAGE_TITLE = #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageName != null">
                PAGE_NAME = #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="pageDesc != null">
                PAGE_DESC = #{pageDesc,jdbcType=VARCHAR},
            </if>
            <if test="pageUpdateTime != null">
                PAGE_UPDATE_TIME = #{pageUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageUpdater != null">
                PAGE_UPDATER = #{pageUpdater,jdbcType=VARCHAR},
            </if>
            <if test="pageRefJsConfig != null">
                PAGE_REF_JS_CONFIG = #{pageRefJsConfig,jdbcType=VARCHAR},
            </if>
            <if test="pageRefCssConfig != null">
                PAGE_REF_CSS_CONFIG = #{pageRefCssConfig,jdbcType=VARCHAR},
            </if>
            <if test="pageBefRender != null">
                PAGE_BEF_RENDER = #{pageBefRender,jdbcType=VARCHAR},
            </if>
            <if test="pageAftRender != null">
                PAGE_AFT_RENDER = #{pageAftRender,jdbcType=VARCHAR},
            </if>
            <if test="pageWidgetBefRender != null">
                PAGE_WIDGET_BEF_RENDER = #{pageWidgetBefRender,jdbcType=VARCHAR},
            </if>
            <if test="pageWidgetAftRender != null">
                PAGE_WIDGET_AFT_RENDER = #{pageWidgetAftRender,jdbcType=VARCHAR},
            </if>
            <if test="pageStatus != null">
                PAGE_STATUS = #{pageStatus,jdbcType=VARCHAR},
            </if>
            <if test="pageOrderNum != null">
                PAGE_ORDER_NUM = #{pageOrderNum,jdbcType=INTEGER},
            </if>
            <if test="pageConfig != null">
                PAGE_CONFIG = #{pageConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="pageProperties != null">
                PAGE_PROPERTIES = #{pageProperties,jdbcType=LONGVARCHAR},
            </if>
            <if test="pageWidgetConfig != null">
                PAGE_WIDGET_CONFIG = #{pageWidgetConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where PAGE_ID = #{pageId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jb4dc.portlet.dbentities.TemplatePageEntityWithBLOBs">
        update PORTLET_TEMPLATE_PAGE
        set PAGE_GROUP_ID = #{pageGroupId,jdbcType=VARCHAR},
        PAGE_TITLE = #{pageTitle,jdbcType=VARCHAR},
        PAGE_NAME = #{pageName,jdbcType=VARCHAR},
        PAGE_DESC = #{pageDesc,jdbcType=VARCHAR},
        PAGE_UPDATE_TIME = #{pageUpdateTime,jdbcType=TIMESTAMP},
        PAGE_UPDATER = #{pageUpdater,jdbcType=VARCHAR},
        PAGE_REF_JS_CONFIG = #{pageRefJsConfig,jdbcType=VARCHAR},
        PAGE_REF_CSS_CONFIG = #{pageRefCssConfig,jdbcType=VARCHAR},
        PAGE_BEF_RENDER = #{pageBefRender,jdbcType=VARCHAR},
        PAGE_AFT_RENDER = #{pageAftRender,jdbcType=VARCHAR},
        PAGE_WIDGET_BEF_RENDER = #{pageWidgetBefRender,jdbcType=VARCHAR},
        PAGE_WIDGET_AFT_RENDER = #{pageWidgetAftRender,jdbcType=VARCHAR},
        PAGE_STATUS = #{pageStatus,jdbcType=VARCHAR},
        PAGE_ORDER_NUM = #{pageOrderNum,jdbcType=INTEGER},
        PAGE_CONFIG = #{pageConfig,jdbcType=LONGVARCHAR},
        PAGE_PROPERTIES = #{pageProperties,jdbcType=LONGVARCHAR},
        PAGE_WIDGET_CONFIG = #{pageWidgetConfig,jdbcType=LONGVARCHAR}
        where PAGE_ID = #{pageId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.portlet.dbentities.TemplatePageEntity">
        update PORTLET_TEMPLATE_PAGE
        set PAGE_GROUP_ID = #{pageGroupId,jdbcType=VARCHAR},
        PAGE_TITLE = #{pageTitle,jdbcType=VARCHAR},
        PAGE_NAME = #{pageName,jdbcType=VARCHAR},
        PAGE_DESC = #{pageDesc,jdbcType=VARCHAR},
        PAGE_UPDATE_TIME = #{pageUpdateTime,jdbcType=TIMESTAMP},
        PAGE_UPDATER = #{pageUpdater,jdbcType=VARCHAR},
        PAGE_REF_JS_CONFIG = #{pageRefJsConfig,jdbcType=VARCHAR},
        PAGE_REF_CSS_CONFIG = #{pageRefCssConfig,jdbcType=VARCHAR},
        PAGE_BEF_RENDER = #{pageBefRender,jdbcType=VARCHAR},
        PAGE_AFT_RENDER = #{pageAftRender,jdbcType=VARCHAR},
        PAGE_WIDGET_BEF_RENDER = #{pageWidgetBefRender,jdbcType=VARCHAR},
        PAGE_WIDGET_AFT_RENDER = #{pageWidgetAftRender,jdbcType=VARCHAR},
        PAGE_STATUS = #{pageStatus,jdbcType=VARCHAR},
        PAGE_ORDER_NUM = #{pageOrderNum,jdbcType=INTEGER}
        where PAGE_ID = #{pageId,jdbcType=VARCHAR}
    </update>
</mapper>