<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.weblist.ListResourceMapper">
    <resultMap id="BaseResultMapSimple" type="com.jb4dc.builder.dbentities.weblist.ListResourceEntity">
            <id property="listId" column="LIST_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCode" column="LIST_CODE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listName" column="LIST_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listSingleName" column="LIST_SINGLE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCreateTime" column="LIST_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <result property="listCreator" column="LIST_CREATOR" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listUpdateTime" column="LIST_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <result property="listUpdater" column="LIST_UPDATER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listType" column="LIST_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listIsSystem" column="LIST_IS_SYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listOrderNum" column="LIST_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <result property="listDesc" column="LIST_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listModuleId" column="LIST_MODULE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listStatus" column="LIST_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listOrganId" column="LIST_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listOrganName" column="LIST_ORGAN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listDatasetId" column="LIST_DATASET_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listDatasetName" column="LIST_DATASET_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listDatasetPageSize" column="LIST_DATASET_PAGE_SIZE" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <result property="listIsResolve" column="LIST_IS_RESOLVE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listEveryTimeResolve" column="LIST_EVERY_TIME_RESOLVE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listEnableSSear" column="LIST_ENABLE_S_SEAR" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listEnableCSear" column="LIST_ENABLE_C_SEAR" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listTheme" column="LIST_THEME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCustServerRenderer" column="LIST_CUST_SERVER_RENDERER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCustRefJs" column="LIST_CUST_REF_JS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCustClientRenderer" column="LIST_CUST_CLIENT_RENDERER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listCustDesc" column="LIST_CUST_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <result property="listDatasetPrimaryKey" column="LIST_DATASET_PRIMARY_KEY" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List_Simple">
    LIST_ID, LIST_CODE, LIST_NAME, LIST_SINGLE_NAME, LIST_CREATE_TIME, LIST_CREATOR,
    LIST_UPDATE_TIME, LIST_UPDATER, LIST_TYPE, LIST_IS_SYSTEM, LIST_ORDER_NUM, LIST_DESC,
    LIST_MODULE_ID, LIST_STATUS, LIST_ORGAN_ID, LIST_ORGAN_NAME, LIST_DATASET_ID, LIST_DATASET_NAME,
    LIST_DATASET_PAGE_SIZE, LIST_IS_RESOLVE, LIST_EVERY_TIME_RESOLVE, LIST_ENABLE_S_SEAR,
    LIST_ENABLE_C_SEAR, LIST_THEME, LIST_CUST_SERVER_RENDERER, LIST_CUST_REF_JS, LIST_CUST_CLIENT_RENDERER,
    LIST_CUST_DESC,LIST_DATASET_PRIMARY_KEY
  </sql>
    <select id="selectAll" resultMap="BaseResultMapSimple">select<include refid="Base_Column_List_Simple"/> from TBUILD_LIST_RESOURCE ORDER by LIST_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMapSimple">select<include refid="Base_Column_List_Simple"/> from TBUILD_LIST_RESOURCE ORDER by LIST_ORDER_NUM ASC</select>
    <delete id="deleteAll">delete from TBUILD_LIST_RESOURCE</delete>
    <select id="nextOrderNum" resultType="integer">select case when max(LIST_ORDER_NUM) is null then 1 else max(LIST_ORDER_NUM)+1 end ORDERNUM from TBUILD_LIST_RESOURCE</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMapSimple">select<include refid="Base_Column_List_Simple"/>from TBUILD_LIST_RESOURCE<where>
        <if test="listCode !=null and listCode !=''"> and LIST_CODE like #{listCode} </if>
        <if test="listName !=null and listName !=''"> and LIST_NAME like #{listName} </if>
        <if test="listSingleName !=null and listSingleName !=''"> and LIST_SINGLE_NAME like #{listSingleName} </if>
        <if test="listCreator !=null and listCreator !=''"> and LIST_CREATOR like #{listCreator} </if>
        <if test="listUpdater !=null and listUpdater !=''"> and LIST_UPDATER like #{listUpdater} </if>
        <if test="listType !=null and listType !=''"> and LIST_TYPE like #{listType} </if>
        <if test="listIsSystem !=null and listIsSystem !=''"> and LIST_IS_SYSTEM like #{listIsSystem} </if>
        <if test="listDesc !=null and listDesc !=''"> and LIST_DESC like #{listDesc} </if>
        <if test="listModuleId !=null and listModuleId !=''"> and LIST_MODULE_ID like #{listModuleId} </if>
        <if test="listStatus !=null and listStatus !=''"> and LIST_STATUS like #{listStatus} </if>
        <if test="listOrganId !=null and listOrganId !=''"> and LIST_ORGAN_ID like #{listOrganId} </if>
        <if test="listOrganName !=null and listOrganName !=''"> and LIST_ORGAN_NAME like #{listOrganName} </if>
        <if test="listDatasetId !=null and listDatasetId !=''"> and LIST_DATASET_ID like #{listDatasetId} </if>
        <if test="listDatasetName !=null and listDatasetName !=''"> and LIST_DATASET_NAME like #{listDatasetName} </if>
        <if test="listIsResolve !=null and listIsResolve !=''"> and LIST_IS_RESOLVE like #{listIsResolve} </if>
        <if test="listEveryTimeResolve !=null and listEveryTimeResolve !=''"> and LIST_EVERY_TIME_RESOLVE like #{listEveryTimeResolve} </if>
        <if test="listHtmlSource !=null and listHtmlSource !=''"> and LIST_HTML_SOURCE like #{listHtmlSource} </if>
        <if test="listHtmlResolve !=null and listHtmlResolve !=''"> and LIST_HTML_RESOLVE like #{listHtmlResolve} </if>
        <if test="listJsContent !=null and listJsContent !=''"> and LIST_JS_CONTENT like #{listJsContent} </if>
        <if test="listCssContent !=null and listCssContent !=''"> and LIST_CSS_CONTENT like #{listCssContent} </if>
        <if test="listConfigContent !=null and listConfigContent !=''"> and LIST_CONFIG_CONTENT like #{listConfigContent} </if>
        <if test="listEnableSSear !=null and listEnableSSear !=''"> and LIST_ENABLE_S_SEAR like #{listEnableSSear} </if>
        <if test="listEnableCSear !=null and listEnableCSear !=''"> and LIST_ENABLE_C_SEAR like #{listEnableCSear} </if>
        <if test="listTheme !=null and listTheme !=''"> and LIST_THEME like #{listTheme} </if>
        <if test="listCustServerRenderer !=null and listCustServerRenderer !=''"> and LIST_CUST_SERVER_RENDERER like #{listCustServerRenderer} </if>
        <if test="listCustRefJs !=null and listCustRefJs !=''"> and LIST_CUST_REF_JS like #{listCustRefJs} </if>
        <if test="listCustClientRenderer !=null and listCustClientRenderer !=''"> and LIST_CUST_CLIENT_RENDERER like #{listCustClientRenderer} </if>
        <if test="listCustDesc !=null and listCustDesc !=''"> and LIST_CUST_DESC like #{listCustDesc} </if>
    </where>ORDER by LIST_ORDER_NUM DESC</select>
    <select id="selectLessThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_LIST_RESOURCE
                                                                                                          where LIST_ORDER_NUM = (select max(LIST_ORDER_NUM) from TBUILD_LIST_RESOURCE where LIST_ORDER_NUM<(select LIST_ORDER_NUM from TBUILD_LIST_RESOURCE where LIST_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectGreaterThanRecord" parameterType="java.lang.String" resultMap="BaseResultMap"><![CDATA[select * from TBUILD_LIST_RESOURCE
                                                                                                             where LIST_ORDER_NUM = (select min(LIST_ORDER_NUM) from TBUILD_LIST_RESOURCE where LIST_ORDER_NUM>(select LIST_ORDER_NUM from TBUILD_LIST_RESOURCE where LIST_ID=#{Id,jdbcType=NVARCHAR}))]]></select>
    <select id="selectByModuleId" resultMap="BaseResultMapSimple">
        select<include refid="Base_Column_List_Simple"/> from TBUILD_LIST_RESOURCE where LIST_MODULE_ID=#{moduleId} ORDER by LIST_ORDER_NUM DESC
    </select>
</mapper>
