<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <script>
        var webFormRTParas={
            "formId":BaseUtility.GetUrlParaValue("formId"),
            "buttonId":BaseUtility.GetUrlParaValue("buttonId"),
            "elemId":BaseUtility.GetUrlParaValue("elemId"),
            "recordId":BaseUtility.GetUrlParaValue("recordId")
        };
        $(function () {

            $("#htmlDesignRuntimeWrap").html(JsonUtility.JsonToStringFormat(webFormRTParas));

            var FormRuntimeInst = Object.create(FormRuntime);
            FormRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                FormId:webFormRTParas.formId,
                RecordId:webFormRTParas.recordId,
                ButtonId:webFormRTParas.buttonId,
                IsPreview:false
            })
        });
    </script>
</head>
<body>
<div id="htmlDesignRuntimeWrap"></div>
</body>
</html>