<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <script>
        var webFormRTParas={
            "formId":BaseUtility.GetUrlParaValue("formId"),
            "buttonId":BaseUtility.GetUrlParaValue("buttonId"),
            "elemId":BaseUtility.GetUrlParaValue("elemId"),
            "recordId":BaseUtility.GetUrlParaValue("recordId")
        };
        $(function () {
            var ListRuntimeInst = Object.create(FormRuntime);
            /*var formId=BaseUtility.GetUrlParaValue("formId");
            var buttonId=BaseUtility.GetUrlParaValue("buttonId");
            var elemId=BaseUtility.GetUrlParaValue("elemId");
            var recordId=BaseUtility.GetUrlParaValue("recordId");*/
            $("#htmlDesignRuntimeWrap").html(JsonUtility.JsonToStringFormat(webFormRTParas));
            /*ListRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                ListId:listId
            })*/
        });
    </script>
</head>
<body>
<div id="htmlDesignRuntimeWrap"></div>
</body>
</html>