<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2019/1/26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表单预览</title>
    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <script>
        var FormRuntimeInst;
        $(function () {
            FormRuntimeInst = Object.create(FormRuntime);
            var formId=BaseUtility.GetUrlParaValue("FormId");
            var buttonid=BaseUtility.GetUrlParaValue("ButtonId");
            //var elemid=BaseUtility.GetUrlParaValue("elemid");
            FormRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                FormId:formId,
                IsPreview:true
            })
        });
    </script>
</head>
<body>
    <div id="htmlDesignRuntimeWrap"></div>
    <div class="html-design-operation-button-outer-wrap">
        <div class="html-design-button-inner-wrap">
            <div class="html-design-buttons-group">
                <button type="button" class="operation-button operation-button-primary" onclick="FormRuntimeInst.SerializationFormData()"><span>测试</span></button>
                <button type="button" class="operation-button"><span>关闭</span></button>
            </div>
        </div>
    </div>
</body>
</html>