<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.builder.dao.api.ApiGroupMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.builder.dbentities.api.ApiGroupEntity">
        <constructor>
            <idArg column="API_GROUP_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API__GROUP_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="API_GROUP_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="API_GROUP_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_PARENT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_IS_SYSTEM" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_DEL_ENABLE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_PID_LIST" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_CHILD_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="API_GROUP_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="API_GROUP_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    API_GROUP_ID, API_GROUP_VALUE, API__GROUP_TEXT, API_GROUP_ORDER_NUM, API_GROUP_CREATE_TIME,
    API_GROUP_DESC, API_GROUP_STATUS, API_GROUP_PARENT_ID, API_GROUP_IS_SYSTEM, API_GROUP_DEL_ENABLE,
    API_GROUP_PID_LIST, API_GROUP_CHILD_COUNT, API_GROUP_ORGAN_ID, API_GROUP_ORGAN_NAME,
    API_GROUP_TYPE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TBUILD_API_GROUP
        where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBUILD_API_GROUP
    where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.builder.dbentities.api.ApiGroupEntity">
    insert into TBUILD_API_GROUP (API_GROUP_ID, API_GROUP_VALUE, API__GROUP_TEXT,
      API_GROUP_ORDER_NUM, API_GROUP_CREATE_TIME,
      API_GROUP_DESC, API_GROUP_STATUS, API_GROUP_PARENT_ID,
      API_GROUP_IS_SYSTEM, API_GROUP_DEL_ENABLE, API_GROUP_PID_LIST,
      API_GROUP_CHILD_COUNT, API_GROUP_ORGAN_ID, API_GROUP_ORGAN_NAME,
      API_GROUP_TYPE)
    values (#{apiGroupId,jdbcType=VARCHAR}, #{apiGroupValue,jdbcType=VARCHAR}, #{apiGroupText,jdbcType=VARCHAR},
      #{apiGroupOrderNum,jdbcType=INTEGER}, #{apiGroupCreateTime,jdbcType=TIMESTAMP},
      #{apiGroupDesc,jdbcType=VARCHAR}, #{apiGroupStatus,jdbcType=VARCHAR}, #{apiGroupParentId,jdbcType=VARCHAR},
      #{apiGroupIsSystem,jdbcType=VARCHAR}, #{apiGroupDelEnable,jdbcType=VARCHAR}, #{apiGroupPidList,jdbcType=VARCHAR},
      #{apiGroupChildCount,jdbcType=INTEGER}, #{apiGroupOrganId,jdbcType=VARCHAR}, #{apiGroupOrganName,jdbcType=VARCHAR},
      #{apiGroupType,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.builder.dbentities.api.ApiGroupEntity">
        insert into TBUILD_API_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiGroupId != null">
                API_GROUP_ID,
            </if>
            <if test="apiGroupValue != null">
                API_GROUP_VALUE,
            </if>
            <if test="apiGroupText != null">
                API__GROUP_TEXT,
            </if>
            <if test="apiGroupOrderNum != null">
                API_GROUP_ORDER_NUM,
            </if>
            <if test="apiGroupCreateTime != null">
                API_GROUP_CREATE_TIME,
            </if>
            <if test="apiGroupDesc != null">
                API_GROUP_DESC,
            </if>
            <if test="apiGroupStatus != null">
                API_GROUP_STATUS,
            </if>
            <if test="apiGroupParentId != null">
                API_GROUP_PARENT_ID,
            </if>
            <if test="apiGroupIsSystem != null">
                API_GROUP_IS_SYSTEM,
            </if>
            <if test="apiGroupDelEnable != null">
                API_GROUP_DEL_ENABLE,
            </if>
            <if test="apiGroupPidList != null">
                API_GROUP_PID_LIST,
            </if>
            <if test="apiGroupChildCount != null">
                API_GROUP_CHILD_COUNT,
            </if>
            <if test="apiGroupOrganId != null">
                API_GROUP_ORGAN_ID,
            </if>
            <if test="apiGroupOrganName != null">
                API_GROUP_ORGAN_NAME,
            </if>
            <if test="apiGroupType != null">
                API_GROUP_TYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiGroupId != null">
                #{apiGroupId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupValue != null">
                #{apiGroupValue,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupText != null">
                #{apiGroupText,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupOrderNum != null">
                #{apiGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="apiGroupCreateTime != null">
                #{apiGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="apiGroupDesc != null">
                #{apiGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupStatus != null">
                #{apiGroupStatus,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupParentId != null">
                #{apiGroupParentId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupIsSystem != null">
                #{apiGroupIsSystem,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupDelEnable != null">
                #{apiGroupDelEnable,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupPidList != null">
                #{apiGroupPidList,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupChildCount != null">
                #{apiGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="apiGroupOrganId != null">
                #{apiGroupOrganId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupOrganName != null">
                #{apiGroupOrganName,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupType != null">
                #{apiGroupType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.builder.dbentities.api.ApiGroupEntity">
        update TBUILD_API_GROUP
        <set>
            <if test="apiGroupValue != null">
                API_GROUP_VALUE = #{apiGroupValue,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupText != null">
                API__GROUP_TEXT = #{apiGroupText,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupOrderNum != null">
                API_GROUP_ORDER_NUM = #{apiGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="apiGroupCreateTime != null">
                API_GROUP_CREATE_TIME = #{apiGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="apiGroupDesc != null">
                API_GROUP_DESC = #{apiGroupDesc,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupStatus != null">
                API_GROUP_STATUS = #{apiGroupStatus,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupParentId != null">
                API_GROUP_PARENT_ID = #{apiGroupParentId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupIsSystem != null">
                API_GROUP_IS_SYSTEM = #{apiGroupIsSystem,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupDelEnable != null">
                API_GROUP_DEL_ENABLE = #{apiGroupDelEnable,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupPidList != null">
                API_GROUP_PID_LIST = #{apiGroupPidList,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupChildCount != null">
                API_GROUP_CHILD_COUNT = #{apiGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="apiGroupOrganId != null">
                API_GROUP_ORGAN_ID = #{apiGroupOrganId,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupOrganName != null">
                API_GROUP_ORGAN_NAME = #{apiGroupOrganName,jdbcType=VARCHAR},
            </if>
            <if test="apiGroupType != null">
                API_GROUP_TYPE = #{apiGroupType,jdbcType=VARCHAR},
            </if>
        </set>
        where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.builder.dbentities.api.ApiGroupEntity">
    update TBUILD_API_GROUP
    set API_GROUP_VALUE = #{apiGroupValue,jdbcType=VARCHAR},
      API__GROUP_TEXT = #{apiGroupText,jdbcType=VARCHAR},
      API_GROUP_ORDER_NUM = #{apiGroupOrderNum,jdbcType=INTEGER},
      API_GROUP_CREATE_TIME = #{apiGroupCreateTime,jdbcType=TIMESTAMP},
      API_GROUP_DESC = #{apiGroupDesc,jdbcType=VARCHAR},
      API_GROUP_STATUS = #{apiGroupStatus,jdbcType=VARCHAR},
      API_GROUP_PARENT_ID = #{apiGroupParentId,jdbcType=VARCHAR},
      API_GROUP_IS_SYSTEM = #{apiGroupIsSystem,jdbcType=VARCHAR},
      API_GROUP_DEL_ENABLE = #{apiGroupDelEnable,jdbcType=VARCHAR},
      API_GROUP_PID_LIST = #{apiGroupPidList,jdbcType=VARCHAR},
      API_GROUP_CHILD_COUNT = #{apiGroupChildCount,jdbcType=INTEGER},
      API_GROUP_ORGAN_ID = #{apiGroupOrganId,jdbcType=VARCHAR},
      API_GROUP_ORGAN_NAME = #{apiGroupOrganName,jdbcType=VARCHAR},
      API_GROUP_TYPE = #{apiGroupType,jdbcType=VARCHAR}
    where API_GROUP_ID = #{apiGroupId,jdbcType=VARCHAR}
  </update>
</mapper>