<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeExtendLib"></th:block>
    <style>

    </style>
    <script>
        function gotoBHREAppClientPage(pageName){
            AjaxUtility.Post("/Rest/Grid/User/Login/LoginByPassword",{
                accountName:"nbzg5001",
                password:"j4d123456",
                terminalToken:"22222222222222222222"
            },function (result){
                if(result.success){
                    var data=result.data;
                    var url=window.location.origin+"/GridSystem/HTML/GridAppClient/"+pageName+"?UserId="+data.userId+"&UserName="+data.userName+"&OrganId="+data.organId+"&OrganName="+data.organName+"&AppClientToken="+data.appClientToken;
                    //window.open(url);
                    window.location.href=url;
                }
                console.log(result);
                //console.log(window);

            },this)
        }
    </script>
</head>
<body>
    <div>
        <input type="button" value="APP首页" onclick="gotoBHREAppClientPage('DefaultIndexMainPage.html')" style="height: 50px" />
        <input type="button" value="采集首页" onclick="gotoBHREAppClientPage('GatherIndexMainPage.html')" style="height: 50px" />
        <input type="button" value="搜索搜索" onclick="gotoBHREAppClientPage('SearchIndexMainPage.html')" style="height: 50px" />
    </div>
</body>
</html>