@import "Variable.less";


.form-group-min {
  margin-bottom: 0.4rem;
}

.form-group-mid {
  margin-bottom: 0.6rem;
}

.form-label-min{
  font-size: 13px;
  padding-right: 4px;
  padding-left: 8px;
}
